<p class="introduction-body">
    आज मिति <span th:text="${meetingHeldDate}">Date</span>
    (<span th:text="${meetingHeldDateEnglish}"></span>),
    <span th:text="${meetingHeldDay}">Day</span>
    <span th:text="${partOfDay}">Part of Day</span>
    <span th:text="${meetingHeldTime}"></span> बजे,
    <span th:text="${meetingHeldPlace}"></span> मा
    <span th:text="${committeeDescription}"></span> का लागि गठित
    <span th:text="${committeeName}"></span> समितिका
    संयोजक <span th:text="${coordinatorFullName}">coordinator name</span>ज्यूको
    संयोजकत्वमा बैठक बसी देहाय बमोजिमका छलफल तथा निर्णय गरियो।
</p>
